html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bright_squares.png")
}

h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(131, 125, 168);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
    color: white !important;
}

h2 {
    font-size: 2em;
    margin-left: .5rem;
    color: steelblue;
}

input {
    font-size: 1.5em;
    margin-left: .75rem;
}

button {
    padding: .5rem;
    background-color: rgb(131, 125, 168);
    border-radius: 6px;
    font-size: .75em;
}

.item-0, .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12{
    margin: 10px
}

.daytime {

}

.nighttime {

}