html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bright_squares.png")
    
}
#weatherIcon {
    background-color: lightblue;
    border-radius: 50%;
}
section{
    min-height: 85%;
}
h1 {
    text-align: center;
    margin-bottom: 2px;
    font-family: 'EB Garamond', serif;
    border-radius: 30px;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    text-align: center;
}

input {
    font-size: 1.5em;
    box-shadow: 6px 6px 15px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.button {
    padding: 1rem;
    background-color: #ADD8E6;
    /* border-radius: 3px; */
    font-size: .75em;
    margin-bottom: 1.3px;
    box-shadow: 6px 6px 15px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: #fff;
    transform: translateY(-7px);
}

#city {
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
}

.item-0, .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12{
    margin: 10px
}

/* .daytime {

}

.nighttime {

} */
.knockout {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 45px;
    font-family: 'EB Garamond', serif;
    width: 50%;
    margin: 15px auto;
    text-align: center;
  }
  
  .pictures .launch {
border: none;
  }

  .selectedMovie {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 39%; 
  }

 
  footer {
    background-color: black; 
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: auto;
    width: 100%;
  }

  #footerContainerMain {
      margin-left: auto;
      margin-right: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 46%;
      
  }
  a {
      padding: 25px;
}

  .selectedTitle {
      text-align: center;
      font-size: 20px;

  }
  .col-sm-7{
      min-height: 200px;
  }